@import url('https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}

//paleta de colores
$background: rgb(0, 0, 0);
$base: rgb(82, 82, 82);
$letra: #ffff;
$red: rgb(232,76,52);
$figcaption: rgb(174,173,169);
$base-transparente: rgba(82, 82, 82, 0.87);

body{
    background-color: $background;
}
aside{
    display: none;
}
    
header{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: sticky;
    z-index: 10;
    top: 0;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        li{
            text-align: center;
            a{
                margin: auto auto;
                text-decoration: none;
                color: white;
                font-size: 1.5em;
                font-family: 'Scheherazade', serif;
            }           
        }
    }
}

main{
    text-align: center;

    .section{
        margin: 3% auto;
        width: 300px;
        border: 1px solid $base;
    }
    .dos{
        display: flex;
        justify-content: space-evenly;
        padding: 3%;
    }    
    .container img{
        width: 100%;
        border: 1px $base solid;
    }
    .portada{
        background-image: url(./assets/portada.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            color: #eac102;
            text-shadow: 0 0 30px #eac102;
        }

        p{
            color: $letra
        }

        
        h2{
            color: $letra;
            font-size: 1em;
            font-family: 'Oswald', sans-serif;
            a{
                text-decoration: none;
                color: $red;
            }           
        }

    }

    h3{
        color: $letra;
        font-family: 'Oswald', sans-serif;
    }   

    //ARTISTAS CON MAS SEGUIDORES
    .perfiles{
        display: flex;
        justify-content: space-around;
        .artista{
            figcaption{
                font-size: 0.75em;
                color: $figcaption;
            }

            img{
            width: 70%;
            border-radius: 50%;
            }
        }

    }
    .app{
        display: flex;
        flex-direction: column;
        margin: 5% auto;
        padding: 3%;
        width: 75%;
        background-image: url(../assets/portada.jpg);
        h3{
            color: #eac102;
            text-shadow: 0 0 30px #eac102;
        }        
        .download{
            display: flex;
            justify-content: space-around;
            a {
                margin:auto;
                width: 25%;
                img{
                    width: 100%;  
                }
            }
        }
    }
    .subirMusica{
        text-align: center;
        display: flex;
        flex-direction: column;
        h3, h4{
            color: $letra;
            font-family: 'Scheherazade', serif;
        }
        form{
            display: flex;
            flex-direction: column;
            margin: auto;
            label{
                padding: 1%;
                input[type=text],
                input[type=email]{
                    border-radius: 50px;
                    padding: 1%;
                    margin-top: 2%;
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
                }
            }
            a{
                padding: 1%;
                text-decoration: none;
                button{
                    background: #0F2027;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    border-radius: 50px;
                    width: 120px;
                    color: white;
                }               
            }
        }
    }
}

footer{
    text-align: center;
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    .goldMusic{
        display: flex;
        justify-content: center;
        .nombre{
            text-align: center;
            h2{
                color: white;
                font-size: 0.9em;
            }   
            img{
                margin: auto;
                width: 60%;
            }
        }    
        .acercaDe{
            color: white;
            border-right: 1px solid white;
            h2{
                font-size: 0.9em;
            }
            p{
                font-size: 0.65em;
            }
        }
    }
    .redes{
        display: flex;
        flex-direction: column;
        a{
            color: black;
            img{
                margin: 0.5%;
                width: 35%;
            }
        }
    }
}

.yo{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Scheherazade', serif;
    font-size: 1.5em;
    background-color: $base;
}

//MEDIAQUERIES
@media (min-width:700px){
    header{
        display: none;
    }
    
    aside{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 30%;
        height: 100vh;
        border-right: 1px solid white;
        text-align: center;
        z-index: 200;
        
        img{
            margin: 5% auto;
            width: 40%;
        }

        ul li{
            text-align: center;
            font-size: 1.5em;
            font-family: 'Scheherazade', serif;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            list-style: none;
            width: 65%;
            border: 1px solid white;
            margin: 35% auto 0 auto;
            
            &:hover,
            &:focus{
                box-shadow: 0 0.5em 0.5em -0.4em white;
                -webkit-transform: translateY(-0.25em);
                transform: translateY(-0.25em);
            }
            
            a{
                text-decoration: none;
                margin: auto;
                color: $letra;
            }
        }
    }

    main, footer{
        margin-left: 30%;
    }
    .yo{
        position: absolute;
        z-index: 9999999;
    }

    main{

        .section{
            width: 60%;
        }

        .container img{
            width: 75%;
        }

        .perfiles{

            .artista img{
                width: 55%;
            }
        }
    }

    footer{
        .goldMusic{

            .nombre img{
                width: 45%;
            }
        }

        .redes{
            .sociales img{
                width: 20%;
            }
        }
    }
}

@media (min-width:1000px){
    aside{
        img{
            width: 35%;
        }
        ul li{
            margin-top: 30%;
            width: 40%;
        }
    }

    main{
        .section{
            width: 55%;
        }
        .container img{
            width: 70%;
        }
        .perfiles{

            .artista img{
                width: 50%;
            }
        }
        .mitad {
            h2{
                font-size: 1.3em;
            }
        }
        .perfiles{
            .artista{
                figcaption{
                    font-size: 1em;
                }
            }
        }
    }
}

@media (min-width:1400px){
    aside{
        ul li{
            font-size: 2em;
            margin-top: 25%;
        }
    }

    main{
        .mitad {
            h2{
                font-size: 1.5em;
            }
        }
        .perfiles{
            .artista{
                figcaption{
                    font-size: 1.15em;
                }
            }
        }
    }  

    footer{
        .goldMusic{
            .nombre{
                h2{
                    font-size: 1.2em;
                }
            }
            .acercaDe{
                h2{
                    font-size: 1.2em;
                }              
                p{
                    font-size: 1em;
                }
            }
        }
    }

    .yo{
        font-size: 2em;
    }
}