@import url('https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

//paleta de colores
$background: rgb(0, 0, 0);
$base: rgb(82, 82, 82);
$letra: #ffff;
$red: rgb(232, 76, 52);
$figcaption: rgb(174, 173, 169);
$base-transparente: rgba(82, 82, 82, 0.87);

body {
    background-color: $background;
}

aside {
    display: none;
}

header {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: sticky;
    z-index: 10;
    top: 0;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;

        li {
            text-align: center;
            margin: auto;

            a {
                text-decoration: none;
                color: white;
                font-size: 1.5em;
                font-family: 'Scheherazade', serif;
            }
        }
    }
}

main {
    text-align: center;
    padding: 5px;

    .section {
        margin: 3% auto;
        width: 300px;
        border: 1px solid $base;
    }

    .masLikes {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 200px;
            border: 1px $base solid;
            margin: 10px;
        }
    }


    .portada {
        background-image: url(./assets/portada.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: #eac102;
            text-shadow: 0 0 30px #eac102;
        }

        p {
            color: $letra
        }

        h2 {
            color: $letra;
            font-size: 1em;
            font-family: 'Oswald', sans-serif;

            a {
                text-decoration: none;
                color: $red;
            }
        }

    }

    h3 {
        color: $letra;
        font-family: 'Oswald', sans-serif;
    }

    //ARTISTAS CON MAS SEGUIDORES
    .perfiles {
        display: flex;
        justify-content: space-around;

        .artista {
            img {
                width: 80px;
                border-radius: 50%;
            }

            figcaption {
                font-size: 0.75em;
                color: $figcaption;
            }
        }

    }

    .app {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        padding: 5px;
        max-width: 300px;
        background-image: url(../assets/portada.jpg);

        h3 {
            color: #eac102;
            text-shadow: 0 0 30px #eac102;
        }

        .download {
            display: flex;
            justify-content: space-around;

            a {
                margin: auto;
                width: 150px;

                img {
                    width: 100%;
                }
            }
        }
    }


    form {
        display: flex;
        flex-direction: column;
        margin: auto;
        border: 1px solid white;

        h3,
        h4 {
            color: $letra;
            font-family: 'Scheherazade', serif;
        }

        label {
            padding: 2px;

            input[type=text],
            input[type=email] {
                border-radius: 5px;
                padding: 2px 5px;
                margin-top: 5px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            }
        }

        button {
            background: #0F2027;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 50px;
            width: 120px;
            color: white;
            text-align: center;
            justify-content: center;
            margin: 5px auto;
        }
    }
}

footer {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;

    .goldMusic {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .nombre {
            text-align: center;

            h2 {
                color: white;
                font-size: 0.9em;
            }

            img {
                margin: auto;
                width: 70px;
            }
        }

        .acercaDe {
            color: white;

            h2 {
                font-size: 0.9em;
            }

            p {
                font-size: 0.65em;
            }
        }
    }

    .redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        a {
            color: black;
            margin: auto;

            img {
                width: 80px;
                margin: 5px;
            }
        }
    }
}

.yo {
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Scheherazade', serif;
    font-size: 1.5em;
    background-color: $base;
}

//MEDIAQUERIES
@media (min-width:700px) {
    header {
        display: none;
    }

    aside {
        background: #0F2027;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 30%;
        height: 100vh;
        border-right: 1px solid white;
        text-align: center;
        z-index: 200;

        img {
            margin: 15px auto;
            width: 100px;
        }

        ul {
            padding: 0px;
        }

        li {
            text-align: center;
            font-size: 1.5em;
            font-family: 'Scheherazade', serif;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            list-style: none;
            width: 150px;
            border: 1px solid white;
            margin: 80px auto;

            &:hover,
            &:focus {
                box-shadow: 0 0.5em 0.5em -0.4em white;
                -webkit-transform: translateY(-0.25em);
                transform: translateY(-0.25em);
            }

            a {
                text-decoration: none;
                margin: auto;
                color: $letra;
            }
        }
    }

    main, footer{
        margin-left: 30%;
        text-align: center;
        justify-content: center;
    }
}