@import url("https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

aside {
  display: none;
}

header {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0;
}

header ul li {
  text-align: center;
  margin: auto;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: 'Scheherazade', serif;
}

main {
  text-align: center;
  padding: 5px;
}

main .section {
  margin: 3% auto;
  width: 300px;
  border: 1px solid #525252;
}

main .masLikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .masLikes img {
  width: 200px;
  border: 1px #525252 solid;
  margin: 10px;
}

main .portada {
  background-image: url(./assets/portada.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .portada h1 {
  color: #eac102;
  text-shadow: 0 0 30px #eac102;
}

main .portada p {
  color: #ffff;
}

main .portada h2 {
  color: #ffff;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
}

main .portada h2 a {
  text-decoration: none;
  color: #e84c34;
}

main h3 {
  color: #ffff;
  font-family: 'Oswald', sans-serif;
}

main .perfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .perfiles .artista img {
  width: 80px;
  border-radius: 50%;
}

main .perfiles .artista figcaption {
  font-size: 0.75em;
  color: #aeada9;
}

main .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  padding: 5px;
  max-width: 300px;
  background-image: url(../assets/portada.jpg);
}

main .app h3 {
  color: #eac102;
  text-shadow: 0 0 30px #eac102;
}

main .app .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .app .download a {
  margin: auto;
  width: 150px;
}

main .app .download a img {
  width: 100%;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  border: 1px solid white;
}

main form h3,
main form h4 {
  color: #ffff;
  font-family: 'Scheherazade', serif;
}

main form label {
  padding: 2px;
}

main form label input[type=text],
main form label input[type=email] {
  border-radius: 5px;
  padding: 2px 5px;
  margin-top: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

main form button {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50px;
  width: 120px;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px auto;
}

footer {
  text-align: center;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .goldMusic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .goldMusic .nombre {
  text-align: center;
}

footer .goldMusic .nombre h2 {
  color: white;
  font-size: 0.9em;
}

footer .goldMusic .nombre img {
  margin: auto;
  width: 70px;
}

footer .goldMusic .acercaDe {
  color: white;
}

footer .goldMusic .acercaDe h2 {
  font-size: 0.9em;
}

footer .goldMusic .acercaDe p {
  font-size: 0.65em;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer .redes a {
  color: black;
  margin: auto;
}

footer .redes a img {
  width: 80px;
  margin: 5px;
}

.yo {
  text-align: center;
  margin: auto;
  color: white;
  font-family: 'Scheherazade', serif;
  font-size: 1.5em;
  background-color: #525252;
}

@media (min-width: 700px) {
  header {
    display: none;
  }
  aside {
    background: #0F2027;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 30%;
    height: 100vh;
    border-right: 1px solid white;
    text-align: center;
    z-index: 200;
  }
  aside img {
    margin: 15px auto;
    width: 100px;
  }
  aside ul {
    padding: 0px;
  }
  aside li {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Scheherazade', serif;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    list-style: none;
    width: 150px;
    border: 1px solid white;
    margin: 80px auto;
  }
  aside li:hover, aside li:focus {
    -webkit-box-shadow: 0 0.5em 0.5em -0.4em white;
            box-shadow: 0 0.5em 0.5em -0.4em white;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }
  aside li a {
    text-decoration: none;
    margin: auto;
    color: #ffff;
  }
  main, footer {
    margin-left: 30%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */