@import url("https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

aside {
  display: none;
}

header {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header ul li {
  text-align: center;
}

header ul li a {
  margin: auto auto;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-family: 'Scheherazade', serif;
}

main {
  text-align: center;
}

main .section {
  margin: 3% auto;
  width: 300px;
  border: 1px solid #525252;
}

main .dos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3%;
}

main .container img {
  width: 100%;
  border: 1px #525252 solid;
}

main .portada {
  background-image: url(./assets/portada.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .portada h1 {
  color: #eac102;
  text-shadow: 0 0 30px #eac102;
}

main .portada p {
  color: #ffff;
}

main .portada h2 {
  color: #ffff;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
}

main .portada h2 a {
  text-decoration: none;
  color: #e84c34;
}

main h3 {
  color: #ffff;
  font-family: 'Oswald', sans-serif;
}

main .perfiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .perfiles .artista figcaption {
  font-size: 0.75em;
  color: #aeada9;
}

main .perfiles .artista img {
  width: 70%;
  border-radius: 50%;
}

main .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5% auto;
  padding: 3%;
  width: 75%;
  background-image: url(../assets/portada.jpg);
}

main .app h3 {
  color: #eac102;
  text-shadow: 0 0 30px #eac102;
}

main .app .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .app .download a {
  margin: auto;
  width: 25%;
}

main .app .download a img {
  width: 100%;
}

main .subirMusica {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .subirMusica h3, main .subirMusica h4 {
  color: #ffff;
  font-family: 'Scheherazade', serif;
}

main .subirMusica form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

main .subirMusica form label {
  padding: 1%;
}

main .subirMusica form label input[type=text],
main .subirMusica form label input[type=email] {
  border-radius: 50px;
  padding: 1%;
  margin-top: 2%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

main .subirMusica form a {
  padding: 1%;
  text-decoration: none;
}

main .subirMusica form a button {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50px;
  width: 120px;
  color: white;
}

footer {
  text-align: center;
  padding: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .goldMusic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .goldMusic .nombre {
  text-align: center;
}

footer .goldMusic .nombre h2 {
  color: white;
  font-size: 0.9em;
}

footer .goldMusic .nombre img {
  margin: auto;
  width: 60%;
}

footer .goldMusic .acercaDe {
  color: white;
  border-right: 1px solid white;
}

footer .goldMusic .acercaDe h2 {
  font-size: 0.9em;
}

footer .goldMusic .acercaDe p {
  font-size: 0.65em;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .redes a {
  color: black;
}

footer .redes a img {
  margin: 0.5%;
  width: 35%;
}

.yo {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Scheherazade', serif;
  font-size: 1.5em;
  background-color: #525252;
}

@media (min-width: 700px) {
  header {
    display: none;
  }
  aside {
    background: #0F2027;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 30%;
    height: 100vh;
    border-right: 1px solid white;
    text-align: center;
    z-index: 200;
  }
  aside img {
    margin: 5% auto;
    width: 40%;
  }
  aside ul li {
    text-align: center;
    font-size: 1.5em;
    font-family: 'Scheherazade', serif;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    list-style: none;
    width: 65%;
    border: 1px solid white;
    margin: 35% auto 0 auto;
  }
  aside ul li:hover, aside ul li:focus {
    -webkit-box-shadow: 0 0.5em 0.5em -0.4em white;
            box-shadow: 0 0.5em 0.5em -0.4em white;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }
  aside ul li a {
    text-decoration: none;
    margin: auto;
    color: #ffff;
  }
  main, footer {
    margin-left: 30%;
  }
  .yo {
    position: absolute;
    z-index: 9999999;
  }
  main .section {
    width: 60%;
  }
  main .container img {
    width: 75%;
  }
  main .perfiles .artista img {
    width: 55%;
  }
  footer .goldMusic .nombre img {
    width: 45%;
  }
  footer .redes .sociales img {
    width: 20%;
  }
}

@media (min-width: 1000px) {
  aside img {
    width: 35%;
  }
  aside ul li {
    margin-top: 30%;
    width: 40%;
  }
  main .section {
    width: 55%;
  }
  main .container img {
    width: 70%;
  }
  main .perfiles .artista img {
    width: 50%;
  }
  main .mitad h2 {
    font-size: 1.3em;
  }
  main .perfiles .artista figcaption {
    font-size: 1em;
  }
}

@media (min-width: 1400px) {
  aside ul li {
    font-size: 2em;
    margin-top: 25%;
  }
  main .mitad h2 {
    font-size: 1.5em;
  }
  main .perfiles .artista figcaption {
    font-size: 1.15em;
  }
  footer .goldMusic .nombre h2 {
    font-size: 1.2em;
  }
  footer .goldMusic .acercaDe h2 {
    font-size: 1.2em;
  }
  footer .goldMusic .acercaDe p {
    font-size: 1em;
  }
  .yo {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */